









h1 {
    font-family: "Caveat", monospace;
    font-weight: normal;
    font-size: 80px;
    color: var(--blackColor);
}
.header-content p {
    color: var(--lightColor);
}
.arrow-down {
    align-self: center;
}
.arrow-down {
    font-size: 30px;
    transition: color .5s;
    padding: 15px;
    color: var(--lightColor);
}
.arrow-down:hover {
    color: var(--teaColor);
    animation: arrow .5s ease 4 alternate;
}
@keyframes arrow {
    0% {transform: translateY(0px)}
    50% {transform: translateY(-10px)}
    100% {transform: translateY(10px)}
}

@media (max-width: 960px) {
}
@media (max-width: 720px) {
}
@media (max-width: 540px) {
}

