* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --baseColor: #1f1f1f;
    --teaColor: #620e0e;
    /*--teaColor: #961515;*/
    --light: #d2c8c8;
    --lightRed: #c63131;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: var(--baseColor);
}
.layout {
    padding: 3vh 20px 5vh;
    margin: 0 auto;
    max-width: 1200px;
}
header .layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header .layout:after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("img/LeoneVenterOnUnsplash.jpg");
    background-size: cover;
    z-index: -99;
}
.theme {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.theme i {
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2);
}
.theme i:hover{
    box-shadow: inset 2px 1px 2px rgba(0, 0, 0, 0.2);
}
.navigation {
    display: flex;
    align-items: center;
    position: relative;
}
#menu-toggle {
    display: none;
}
nav {
    visibility: hidden;
    position: absolute;
    left: -80%;
    transition-duration: 0.5s;
    white-space: nowrap;
    text-transform: uppercase;
}
#menu-toggle:checked ~ nav {
    visibility: visible;
    left: 4%;
    transition-duration: 0.5s;
}
.menu-button {
    display: flex;
    align-items: center;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
}
.menu-button > span,
.menu-button > span::before,
.menu-button > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transition-duration: .25s;
}
.menu-button > span::before {
    content: '';
    top: -10px;
}
.menu-button > span::after {
    content: '';
    top: 10px;
}
#menu-toggle:checked ~ .menu-button > span {
    transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-button > span::before {
    top: 0;
    transform: rotate(0);
}
#menu-toggle:checked ~ .menu-button > span::after {
    top: 0;
    transform: rotate(90deg);
}
nav a {
    padding: 10px;
}
.menu-button:hover > span:before,
.menu-button:hover > span:after {
    background-color: var(--teaColor);
}
nav a:hover {
    color: var(--teaColor);
}
.header-content h1 {
    color: var(--teaColor);
    font-family: "Caveat", monospace;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
}
header a {
    color: var(--baseColor);
    text-decoration: none;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*убирает синий фон при нажатии*/
}
header .arrow-down {
    font-size: 35px;
    color: var(--teaColor);
    margin-bottom: 3vh;
}
.arrow-down:hover {
    animation: arrow .5s ease 4 alternate;
}
@keyframes arrow {
    0% {transform: translateY(0px)}
    50% {transform: translateY(-10px)}
    100% {transform: translateY(10px)}
}

.darkTheme header .layout:after {
    background: url("img/LeoneVenterOnUnsplashdark.jpg");
    background-size: cover;
}
.darkTheme {
    color: var(--light);
}
.darkTheme .theme i {
     background-color: #161616;
     box-shadow: 2px 1px 2px rgba(186, 186, 186, 0.2);
 }
.darkTheme .theme i:hover{
    box-shadow: inset 2px 1px 2px rgba(186, 186, 186, 0.2);
}
.darkTheme .header-content h1 {
    color: var(--lightRed);
    text-shadow: 2px 2px 3px rgba(255,0,0, 0.4);
}
.darkTheme header .arrow-down {
    color: var(--lightRed);
}
.darkTheme nav a:hover {
    color: var(--lightRed);
}
.darkTheme .menu-button > span,
.darkTheme .menu-button > span::before,
.darkTheme .menu-button > span::after {
    background-color: var(--lightRed);
}
.darkTheme header a {
    color: var(--light);
}
/*section*/
#about-me {
    background-color: #fafafa;
}
#about-me .layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#my-works .layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}








@media (min-width: 1600px) { /* (1600) <----  */
    /*.header-content h1 {*/
    /*    color: #37ff00;*/
    /*}*/
    .header-content h1 {
        font-size: 100px;
        line-height: 100px;
    }
    .header-content p {
        font-size: 22px;
    }
}
@media (max-width: 1023px) { /* (768) <---- 1023 */
    /*.header-content h1 {*/
    /*    color: #ff0000;*/
    /*}*/
    .header-content h1 {
        font-size: 50px;
        line-height: 60px;
    }
    #menu-toggle:checked ~ nav {
        left: 6%;
    }
}
@media (max-width: 767px) { /* (480) <--- 767 */
    /*.header-content h1 {*/
    /*    color: #ff0077;*/
    /*}*/
    .header-content h1 {
        font-size: 35px;
        line-height: 40px;
    }
    .header-content p {
        font-size: 12px;
    }
    #menu-toggle:checked ~ nav {
        left: 8%;
    }
    nav a {
        padding: 5px;
    }
}
@media (max-width: 479px) { /* --(320) <-- 479 */
    /*.header-content h1 {*/
    /*    color: #bb00ff;*/
    /*}*/
    #menu-toggle:checked ~ nav {
        left: 10%;
    }
}
